
body {
    font-family: 'Montserrat', sans-serif; 
}

#title {
    background-color: #ff4c68;
    color: white;
}

h1 {
 font-family: 'Montserrat', sans-serif;  
 font-size: 3.5rem;  
 line-height: 1.5;  
 font-weight: 900;
}

.container-fluid {
    padding: 3% 15% 7%;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;

}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;

}

.nav-link {
    font-family: 'Montserrat', sans-serif;  
    font-size: 1.2rem;  
    font-weight: 300;
}

/* Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
   
    width: 25%;
    transform: rotate(25deg);
    position: absolute;
    right: 20%;
}

/* Features */

#features {
    padding: 7% 15%;
    background-color: white;
    position: relative;

}

.feature-box {
    text-align: center;
    padding: 5%;
}

h3 {
    font-family: 'Montserrat', sans-serif;  
    font-size: 1.5rem;  
    font-weight: 900;
}

.feature-icon {
    color: #ef8172;
    margin-bottom: 1rem;
} 

.feature-icon:hover {
    color: #ff4c68
}

p {
    color: #8f8f8f;
}

/* Testimonials section */

#testimonials {
    text-align: center;
    background-color: #ff4c68;
    color: white;
}

h2 {
    font-family: 'Montserrat', sans-serif;  
    font-size: 3rem;  
    font-weight: 900;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color:#ff4c68;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
}

/* Pricing Section */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

@media (max-width: 1000px){
    .title-image {
        position: static;
        transform: rotate(0);
        width: 60%;
    }

    #title {
        text-align: center;
    }
}