
body {
    font-family: 'Montserrat', sans-serif; 
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
   }


p {
    color: #8f8f8f;
}


/* Headings */

.title-heading {
    font-size: 3.5rem;  
    line-height: 1.5;  
}

.section-heading {
    font-size: 3rem;  
    line-height: 1.5;
}


/* Containers */

.container-fluid {
    padding: 7% 15%;
}


/* Sections */
.colored-section {
    background-color: #ff4c68;
    color: white;
}

.white-section {
    background-color: white;
}


/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;

}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;

}

.nav-link {
    font-family: 'Montserrat', sans-serif;  
    font-size: 1.2rem;  
    font-weight: 300;
}


/* Title Section */

#title {
    text-align: left;
}

#title .container-fluid {
    padding: 3% 15% 7%;
}

.download-button {
    margin: 5% 3% 5% 0;
}

.title-image {
    width: 25%;
    transform: rotate(25deg);
    position: absolute;
    right: 20%;
}


/* Features Section*/

#features {
    position: relative;

}

.feature-title {
    font-size: 1.5rem;  
}

.feature-box {
    padding: 5%;
    position: inline block;
}

.feature-icon {
    color: #ef8172;
    margin-bottom: 1rem;
} 

.feature-icon:hover {
    color: #ff4c68
}


/* Testimonials Section */

#testimonials {
    background-color: #ef8172;
}

.testimonials-text {
    font-size: 3rem;  
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}


/* Pricing Section */

#pricing {
    padding: 100px;
}

.price-text {
    font-size: 3rem;  
    line-height: 1.5;
}
.pricing-column {
    padding: 3% 2%;
}


/* CTA Section */

.cta-words {
    font-family: 'Montserrat', sans-serif;  
    font-size: 3rem;  
    font-weight: 900;
}


/* Footer Section */

.footer-icon {
    padding: 1%;
}

@media (max-width: 1000px) {
    .title-image {
        position: static;
        transform: rotate(0);
        width: 60%;
    }
}